<div #node class="node" 
[style.transform]='translate()' 
[style.width.px]="this.data()?.radius" 
[style.height.px]="this.data()?.radius"
> 
 <!-- <div>
    {{ 
      this.data()?.id 
    }} 
  </div> -->

  <!-- velocidade -->
  <!-- <div>
    vx: {{ (this.data()?.velocity!.x).toFixed(2) }} 
  </div>
  <div>
    vy: {{ (this.data()?.velocity!.y).toFixed(2) }} 
  </div> -->

  <!-- offset -->
  <!-- <div>
    ox: {{ (this.data()?.positionOffset!.x).toFixed(2) }} 
  </div>
  <div>
    oy: {{ (this.data()?.positionOffset!.y).toFixed(2) }} 
  </div>-->
  
  <!-- momentum -->
  <!-- 
  <div>
    m: {{ this.data()?.momentum }} 
  </div> -->

  <!-- posição -->
  <div>
    px: {{ (this.data()?.position!.x).toFixed(2) }} 
  </div>
  <div>
    py: {{ (this.data()?.position!.y).toFixed(2) }} 
  </div>
</div>