.node {
  border: 2px solid black;
  border-radius: 100px;
  text-align: center;
  align-content: center;
  position: absolute;
  place-self: anchor-center;
  background-color: lightgray;
  transition: box-shadow 0.3s ease-in-out; /* transição suave */
}

.node:hover {
  box-shadow: 0 0 15px 5px green; /* brilho suave */
}