<div #node class="node" 
[style.transform]='translate()' 
[style.width.px]="this.data()?.radius" 
[style.height.px]="this.data()?.radius"> 
  <!-- <div>
    {{ 
      this.data()?.id 
    }} 
  </div> -->
  <div>
    vx: {{ (this.data()?.velocity!.x).toFixed(2) }} 
  </div>
  <div>
    vy: {{ (this.data()?.velocity!.y).toFixed(2) }} 
  </div>

  <!-- <div>
    px: {{ (this.data()?.position!.x).toFixed(2) }} 
  </div>
  <div>
    py: {{ (this.data()?.position!.y).toFixed(2) }} 
  </div> -->
</div>